{% extends 'base.html' %}
{% block content %}
<main style="text-align:center;">
    <section style="margin-top: 10%; margin-bottom: 10%">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-8 text-center text-md-left ml-5">
                    <div class="card jumbotron">
                        <div class="card-body">
                        <h2>Информация о команде разработчиков</h2>
                            <p>Сайт разработан командой Bombit Team.</p>
                        <p>Разработчики: Андрей Ткачев, Никита Гудков, Андрей Мухин, Иван Сафонов, Владислав Харченко,
                            Анна Буше, Евгений Маринин, Дамир Федотов.</p>
                            <p>Особые благодарности по разработке: <b>Андрею Ткачеву, Никите Гудкову</b>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}