{% extends 'main/base.html' %}
{% block title %}
<title>About</title>
{% endblock %}
{% block content %}
<main style="text-align:center;">
    <section style="margin-top: 10%; margin-bottom: 10%">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-8 text-center text-md-left ml-5">
                    <div class="card jumbotron">
                        <div class="card-body">
                            <h2>Информация о команде разработчиков</h2>
                            <p>Сайт разработан командой BombIt Team.</p>
                            <p>Разработчики: <span style="color: blue">Никита Гудков</span>, <span style="color: green">Андрей Ткачёв</span>,
                                <span style="color: ">Андрей Мухин</span>, <span
                                        style="color: purple">Иван Сафонов</span>, <span style="color: #deb100">Владислав Харченко</span>,
                                <span style="color: pink">Анна Буше</span>, <span style="color: red">Евгений Маринин</span>, <span style="color: orange">Дамир Федотов</span>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}