{% extends 'base.html' %}
{% block title %}
<title>Votings</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{% endblock %}
{% block content %}
<main>
    <div class="row" style="text-align: center; margin-top: 2%">
        <div class="col-md-12">
            <p> Hello, {{user.username}}, today is: {{ data }}
        </div>
    </div>
    {% for voting in votings %}
    <div class="row">
        <div class="col-md-12" style="padding-right: 25%; padding-left: 25%">
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center"> Вопрос: {{voting.question}} | Автор: {{voting.author.username}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center"> Описание: {{voting.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center"> Лайки: {{voting.like_count}}</p>
                </div>
            </div>
            <form class="form-group" action='/available_voting/' method="POST" style="text-align: center">
                <button class="btn btn-outline-success" type="button" data-toggle="collapse"
                        data-target="#collapseExample_{{voting.id}}" aria-expanded="false"
                        aria-controls="collapseExample">
                    Открыть статистику
                </button>
                <canvas id="myChart_{{voting.id}}" width="400" height="400"></canvas>
            </form>
            {% for count in voting.options %}
            <div class="row">
                <div class="col-md-12 collapse" id="collapseExample_{{voting.id}}" style="text-align: center">
                    <p style="text-align: center"> Вопрос: {{ count.text }}</p>
                    <p> Голоса: {{ count.vote_count }}</p>
                </div>
                <script>

                    var ctx = document.getElementById('myChart_{{voting.id}}').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels:
                            {{voting.labels}},

                    datasets: [{label: '# of Votes', data: {{voting.vote_data}},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                        borderColor
                    :
                    [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth
                    :
                    1
                    }]
                    },
                    options: {
                    }
                    })
                    ;


                </script>
            </div>
            {% endfor %}

            <form class="form-group" action='/available_voting/' method="POST" style="text-align: center">
                {% csrf_token %}
                <button type="submit" name="id" value="{{ voting.id }}" class="btn btn-outline-success"
                        style="width: 25%; border-radius: 16px; min-width: 100px">Пройти
                </button>
                <button type="submit" name="id_advanced" value="{{ voting.id }}" class="btn btn-outline-success"
                        style="width: 25%; border-radius: 16px; min-width: 100px">Дополнительно
                </button>
            </form>
        </div>
        <hr>
    </div>
</main>
{% endfor %}
{% endblock %}
