{% extends 'base.html' %}
{% block title %}
    <title>Votings</title>
{% endblock %}
{% block content %}
    <main>
        <div class="row" style="text-align: center; margin-top: 2%">
            <div class="col-md-12">
                <p> Hello, {{user.username}}, today is: {{ data }}
            </div>
        </div>
        {% for voting in votings %}
        <div class="row">
            <div class="col-md-12" style="padding-right: 25%; padding-left: 25%">
                <hr>

                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center"> Вопрос: {{voting.question}} | Автор: {{voting.author.username}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center"> Описание: {{voting.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center"> Лайки: {{voting.like_count}}</p>
                    </div>
                </div>
                <form class="form-group" action='/available_voting/' method="POST" style="text-align: center">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample_{{voting.id}}" aria-expanded="false" aria-controls="collapseExample">
                        Открыть статистику
                    </button>
                </form>
                {% for count in voting.options %}
                <div class="row">

                    <div class="col-md-12 collapse" id="collapseExample_{{voting.id}}" style="text-align: center">
                        <p style="text-align: center"> Вопрос: {{ count.text }}</p>
                        <p> Голоса: {{ count.vote_count }}</p>
                    </div>
                </div>
                {% endfor %}

                 <form class="form-group" action='/available_voting/' method="POST" style="text-align: center">
                     {% csrf_token %}
                     <button type="submit" name="id" value="{{ voting.id }}" class="btn btn-primary" style="width: 25%; border-radius: 16px; min-width: 100px">Пройти</button>
                     <button type="submit" name="id_advanced" value="{{ voting.id }}" class="btn btn-primary" style="width: 25%; border-radius: 16px; min-width: 100px">Дополнительно</button>
                </form>
            </div>
                <hr>
        </div>
    </main>
{% endfor %}
{% endblock %}
