<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your complains</title>
</head>
<body>
    {% if complain_form %}
        <h1>Complains</h1>
        {% include 'menu.html' %}
        <h2>Make your complain</h2>
        <form action="/complain/" method="post">
            {% csrf_token %}
            {{ complain_form.as_p }}
            <button type="submit">Send</button>
        </form>
    {% else %}
        <h3>Your complaint has been accepted</h3>
        <p> <a href="/">To the main page</a></p>
    {% endif %}
</body>
</html>