{% extends 'base.html' %}
{% block title %}
<title>Your complains</title>
{% endblock %}
{% block content %}
<main>
    <h1 class="text-center">Complains</h1>
    <div class="card jumbotron border-success mb-3 text-center" style="max-width: 25%; margin: 0 auto; border-radius: 8px">
        <div class="card-header text-center">Make your complain</div>
        <div class="card-body text-success text-center">
            <div class="card-text">
                <form action="/complain/" method="post">
                    {% csrf_token %}
                    <label for="Your_username">Your username</label>
                    <input class="form-control" type="text" id="Your_username" name="username" value="{{username}}">
                    <br>
                    <label for="Your_email">Your email</label>
                    <input class="form-control" type="text" id="Your_email" name="email" value="{{email}}">
                    <br>
                    <label for="Describe_your_problem">Describe your problem</label>
                    <textarea class="form-control" type="Textarea" id="Describe_your_problem" name="complain" placeholder="Describe_your_problem" rows="5" style="resize: none "></textarea>
                    <br>
                    <input type="submit" class="btn btn-outline-success btn-md" name="status" value="Send"
                           style="width: 100px; border-radius: 16px"/>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}