{% extends 'base.html' %}
{% block title %}
<title>Your complains</title>
{% endblock %}
{% block content %}
<main>
    {% if complain_form %}
    <h1>Complains</h1>
    <div class="card border-success mb-3 text-center" style="max-width: 18rem;">
        <div class="card-header text-center">Make your complain</div>
        <div class="card-body text-success text-center">
            <div class="card-text">
                <form action="/complain/" method="post">
                    {% csrf_token %}
                    <label for="Your_username">Your username</label>
                    <input type="text" id="Your_username" value="Your_username">
                    <br>
                    <label for="Your_email">Your email</label>
                    <input type="text" id="Your_email" value="Your_email">
                    <br>
                    <label for="Describe_your_problem">Describe your problem</label>
                    <input type="Textarea" id="Describe_your_problem" placeholder="text" rows="5">
                    <br>
                    <input type="submit" class="btn btn-outline-success btn-md" name="status" value="Send"
                           style="width: 100px; border-radius: 16px"/>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Your complaint has been accepted</div>
        <div class="card-body text-success">
            <div class="card-text">
                <form class="form-group" action='/' method="POST"
                      style="text-align: center; margin-top: 2.5%; margin-left: 25%; margin-right: 25%">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-lg">Return to the main page</button>
                </form>
            </div>
        </div>
    </div>
        {% endif %}
</main>
{% endblock %}