{% extends 'base.html' %}

{% block title %}
    <title>Edit</title>
{% endblock %}

{% block content %}

        <form class="form-group" action='../edit_voting/' method="POST" style="text-align: left">
            <div class="row">
                <div class="col-4" style="text-align: end; position: relative; margin: auto">
                    <p>{{ voting_form.question.label }}</p>
                </div>
                <div class="col-4">
                    {{ voting_form.question }}
                </div>
                <div class="col-4">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-md" name="status_question" value="Save" style="width: 25%; border-radius: 16px; min-width: 100px"/>
                </div>
            </div>
        </form>

        <form class="form-group" action='../edit_voting/' method="POST" style="text-align: left">
            <div class="row">
                <div class="col-4" style="text-align: end; position: relative; margin: auto">
                    <p>{{ voting_form.description.label }}</p>
                </div>
                <div class="col-4">
                    {{ voting_form.description }}
                </div>
                <div class="col-4" style="margin: auto">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary btn-md" name="status_desc" value="Save" style="width: 25%; border-radius: 16px; min-width: 100px"/>
                </div>
            </div>
        </form>







{% endblock %}