<footer style=" display: block; padding: 50px 0;background-color: #333;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="/" style="color: #569986;">Главная</a></li>
                    <li><a href="/available_votings" style="color: #569986;">Опросы</a></li>
                    <li><a href="/profile" style="color: #569986;">Профиль</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>О нас</h3>
                <ul>
                    <li><a href="/about" style="color: #569986;">Информация</a></li>
                    <li><a href="/team" style="color: #569986;">Команда</a></li>
                    <li><a href="/design" style="color: #569986;">Для дизайнеров</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>BombIt Team</h3>
                <p style="color:rgba(170, 27, 227, .9);">Спасибо за посещение сайта!</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright" style="color:#26d4e0">BombIt Team © 2019</p>
    </div>
</footer>