<footer style=" display: block; padding: 50px 0;
color: #f0f9ff;
background-color: #282d32;
">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Services</h3>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/available_votings">Опросы</a></li>
                    <li><a href="/profile">Профиль</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>О нас</h3>
                <ul>
                    <li><a href="/about">Информация</a></li>
                    <li><a href="/team">Команда</a></li>
                    <li><a href="/design">Для дизайнеров</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>BombIt Team</h3>
                <p>Спасибо за посещение сайта!</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright">BombIt Team © 2019</p>
    </div>
</footer>