{% extends 'base.html' %}
{% block content %}
<main style="text-align:center;">
    <section style="margin-top: 10%; margin-bottom: 10%">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-8 text-center text-md-left ml-5">
                    <div class="card jumbotron">
                        <div class="card-body">
                            <h1 class="display-4 card-title">Здравствуйте{% if user.is_authenticated %}, {{username}}{% endif %}</h1>
                            <p class="lead">"Simple voting" - сервис, предоставляющий систему проведения опросов.</p>
                            <hr class="my-4">
                            <p>Здесь Вы можете:
                                <li><a href="profile/">создать свой личный кабинет с актуальной информацией по вашему профилю</a></li>
                                <li><a href="create_voting/">создать опрос</a></li>
                                <li><a href="available_voting/">ответить на свой или опрос другого пользователя</a></li>
                                <li><a href="available_voting/">отредактировать свой опрос</a></li>
                                <li><a href="available_voting/">лайкнуть свой или опрос другого пользователя</a></li>
                                <li><a href="available_voting/">прокомментировать свой или опрос другого пользователя</a></li>
                                <li><a href="other_users_review/">увидеть опросы отдельных пользователей и количество этих опросов</a></li>
                                <li><a href="complain/">прислать нам жалобу</a></li>
                            </p>
                            <p class="lead">
                                <a class="btn btn-lg btn-outline-success" href="#" role="button">Узнать больше</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}