{% extends 'base.html' %}
{% block content %}
<main>
    <h1 style="font-size: 60px;">Главная страница</h1>
    </p>
     {% if username %}
        <h2>HELLO, {{username}}</h2>
    {% endif %}
    </p>
        <h2>О сайте</h2>
    <p>
        "Simple votings" - это сайт, который предоставляет сервис для проведения голосований.
    <p>
        С помощью него вы можете:
    <ol>
        <li>Создавать и проходить голосования</li>
        <li>Редактировать голосования</li>
        <li>Просматривать результаты голосований</li>
    </ol>
    <p>Также, Simple Votings имеет систему авторизации и abuse-систему</p>
</main>
{% endblock %}
