{% extends 'base.html' %}
{% block content %}
<main style="text-align:center;">
    <section class="section intro-section">
        <div class="container">
            <div class="row">
                <div class="col col-md-8 text-center text-md-left">
                    <div class="jumbotron">
                        <h1 class="display-4">Hello {% if user.is_authenticated %} {{username}} {% endif %}</h1>
                        <p class="lead">"Simple voting" - сервис, предоставляющий систему проведения опросов.</p>
                        <hr class="my-4">
                        <p>"Simple voting" поможет вам работать с опросами</p>
                        <p class="lead">
                            <a class="btn btn-lg btn-dark" href="#" role="button">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
