<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
  <a class="navbar-brand" href="/">Simple votings</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/login" role="button">Авторизация</a>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Опрос
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/create_voting">Создать</a>
            <a class="dropdown-item" href="#">Редактировать</a>
            <a class="dropdown-item" href="/available_voting">Список</a>
        </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button">Об авторах</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/design" role="button">For designers</a>
        </li>
    </ul>
  </div>
</nav>