{% load static %}
<nav class="navbar navbar-expand-lg navbar-light header2" style="background-color: grey;">
    <a class="navbar-brand" href="#"><img src="{% static 'img/Logo_white.png' %}" class="d-inline-block align-top"
                                          alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/design">Design</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Design</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/complain">Ваши жалобы</a>
            </li>


            <li class="nav-item dropdown position-relative"><a class="nav-link dropdown-toggle" href="#"
                                                               id="h2-dropdown" data-toggle="dropdown">
                Опрос <i class="icon-arrow-down ml-1 font-12"></i></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/create_voting">Создать опрос</a></li>
                    <li><a class="dropdown-item" href="/available_voting">Опросы</a></li>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>