{% extends 'base.html' %}
{% block title %}
    <title>Log in</title>
{% endblock %}
{% block content %}
<main>
    <h1>Log in</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-md">Log in</button>
    </form>
    <div>Don't have an account yet?
        <form action="/register/" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-md">Регистрация</button>
        </form>
    </div>
</main>
{% endblock %}